<!DOCTYPE html>
<html>
    <head>
        <title>Titanic Disaster Dataset </title>
        
    </head>
    <body style="background-color:white;">
        <h1>About</h1>
        
        <h3><i> About this file: </i> </h3>
            
 <p>   The Titanic Disaster Dataset is a historical dataset that contains information about passengers aboard the RMS Titanic, a British passenger liner that sank on its maiden voyage in April 1912 after colliding with an iceberg.</p>
        
        
        
      
    
        
        
    </body>
</html>