<!DOCTYPE html>
<html>
    <head>
        <title> Titanic Disaster Dataset</title>
        <h2> Group Members:</h2>
    <ul>
        <li>Yashas Mysore Srihari</li>
        <li>Golam Sakib Choudhury</li>
        <li>Shashank Samudralae</li>
    </ul>
        
    </head>
    <body>
        <h1>Titanic Disaster Dataset</h1>
                <h2> Description  </h2>

        <p>The Titanic Disaster Dataset offers a detailed compilation of statistics pertaining to the passengers aboard the ill-fated RMS Titanic, providing a nuanced understanding of the tragic event. The dataset encompasses a range of information, including demographic details, socio-economic factors, and voyage-related particulars. This dataset serves as a valuable resource for exploring the dynamics of survival rates, investigating the impact of passenger characteristics on outcomes, and gaining insights into the socio-economic fabric of the Titanic's passengers.

        </p>
        

        <h3>Dataset Source:</h3>
        <a href=https://data.world/nrippner/titanic-disaster-dataset>LINK</a>
        
        
        
        
        <ul>  <li><a href="{{url_for('about')}}"> Link to About Page</a> </li>
            <li><a href="{{url_for('data')}}"> Link to Data Page</a> </li> </ul>
        
        
        
    </body>
</html>